/*div{
  min-height: 100vh;
}

nav{
    padding: 20px 0 30px 0;
  a{
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    color : white;
    background-color: #005ce6;
  }
}
div{
  p{
    padding: 5px 0 0 10px;
  }
}*/

