#messages{
  padding: 30px 30px 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  position: relative;

  #clear{
    padding: 5px 20px;
    border-radius: 8px;
    text-decoration: none;
    color : white;
    background-color: #005ce6;
  }

  h2{
    margin-bottom: 10px;
  }

  ul{
    margin-top: 10px;
    list-style-type: none;
  }
}