<div class="wrapper" *ngIf="isDisplayed">
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'message'" class = "box">
      <h1>{{message}}</h1>
      <a class="close" (click)="hide()">Close</a>
    </div>
    <div *ngSwitchCase="'promotion'" class = "box">
      <p>{{message}}</p>
      <div class="cell promotion-cell" (click)="promotion('rook')">
        <img src="/assets/png/white_rook.png">
      </div>
      <div class="cell promotion-cell" (click)="promotion('bishop')">
        <img src="/assets/png/white_bishop.png">
      </div>
      <div class="cell promotion-cell" (click)="promotion('knight')">
        <img src="/assets/png/white_knight.png">
      </div>
      <div class="cell promotion-cell" (click)="promotion('queen')">
        <img src="/assets/png/white_queen.png">
      </div>
    </div>
  </div>
</div>