<div class="text-center fade-bottom background">
    <div *ngIf="success==true">
        <h1>Resetowanie hasła</h1>

        <form (submit)="resetPassword()">
            <input class="form-control" type="password" [(ngModel)]="password" name="password1" placeholder="Password">
            <input class="form-control" type="password" [(ngModel)]="passwordConfirmation" name="password2"
                   placeholder="Confirm Password">

            <input class="btn btn-primary form-control" type="submit" value="Register">
            <a class="form-control" routerLink="/auth/login">Zaloguj się</a>
        </form>
    </div>
    <div *ngIf="success==false">
        <p>Token nieprawidłowy lub wygasł</p>
    </div>

</div>
