h1{
  text-align: center;
}
div{
  padding: 15px;
  text-align: center;
  a{
    border-radius: 8px;
    padding: 10px ;
    text-decoration: none;
    color : white;
    background-color: #005ce6;
  }
}