#board {
  height: 480px;
  width: 480px;
  border: 1px solid black;
}

#game-info{
  color: black;
}

#promotion-wrapper{
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
}

#promotion{
  color: white;
  background: grey;
  transform: translateX(-50%);
  left: 50%;
  z-index: 200;
  height: 120px;
  width: 240px;
  position: absolute;
  top: 240px;
}

.cell {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: inline-block;
  height: 12.5%;
  width: 12.5%;
  margin: 0 !important;
  img{
    position: relative;
    width: 90%;
    height: 90%;
    -webkit-filter: drop-shadow(2px 0 0 white)
    drop-shadow(-2px 0 0 white)
    drop-shadow(0 -1px 0 white)
    drop-shadow(0 1px 0 white);
    /* TODO: Good layout with full image
    width: 100%;
    height: auto;
    */
  }
}

.promotion-cell{
  height: auto;
  width: 25%;
}

.selected {
  background-color: lightgreen !important;
}

.possible{
  background-color: lightblue !important;
}

.whiteCell{
  background-color: rgba(255,255,255,1);
}

.blackCell{
  background-color: rgba(0,0,0,1);
}

