<div id="board-wrapper">
    <div id="game-info">
        <p *ngIf="!isGameFinished">
            Teraz jest tura: <b *ngIf="isMyTurn"> moja</b> <b *ngIf="!isMyTurn">przeciwnika</b>
        </p>
        <p *ngIf="isGameFinished">
            Wynik gry: {{result}}
        </p>
    </div>

    <div *ngIf="board.length > 0" id="board">
        <div *ngFor="let cell of board"
             class="cell {{cell.cell_color}}Cell"
             [class.selected]="cell === selectedCell"
             [class.possible]="selectedCell !== null
                        && selectedCell.possibleMoves.includes(cell.id)"
             (click)="onSelect(cell)">
            <img *ngIf="cell.piece !== null && cell.piece !== undefined
             then piece;
             else emptyCell"
            />

            <ng-template #piece>
                <img src="/assets/png/{{cell.piece.color}}_{{cell.piece.type}}.png">
            </ng-template>

            <ng-template #emptyCell>
                <img *ngIf="cell.piece === null" src="/assets/png/none.png"/>
            </ng-template>
        </div>
    </div>

    <!--<app-timer></app-timer>-->
</div>


